---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=da759317959804f09ec9d30e5f9d9093&exclude=minutely,alerts&lat=39.742043&lon=-104.991531&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.742,"lon":-104.9915,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628272174,"sunrise":1628251434,"sunset":1628302065,"temp":91.81,"feels_like":88.39,"pressure":1006,"humidity":22,"dew_point":47.59,"uvi":9.26,"clouds":21,"visibility":10000,"wind_speed":1.01,"wind_deg":18,"wind_gust":3,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1628269200,"temp":92.05,"feels_like":88.34,"pressure":1006,"humidity":20,"dew_point":45.27,"uvi":7.45,"clouds":18,"visibility":10000,"wind_speed":3.8,"wind_deg":202,"wind_gust":10.04,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1628272800,"temp":91.81,"feels_like":88.39,"pressure":1006,"humidity":22,"dew_point":47.59,"uvi":9.26,"clouds":21,"visibility":10000,"wind_speed":3.15,"wind_deg":103,"wind_gust":10.36,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1628276400,"temp":92.17,"feels_like":88.47,"pressure":1006,"humidity":20,"dew_point":45.36,"uvi":7.38,"clouds":37,"visibility":10000,"wind_speed":11.99,"wind_deg":110,"wind_gust":13.87,"weather":[{"id":802[...]
