---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API>&exclude=minutely,alerts&lat=39.742043&lon=-104.991531&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.742,"lon":-104.9915,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628469846,"sunrise":1628424347,"sunset":1628474724,"temp":88.03,"feels_like":84.7,"pressure":1005,"humidity":22,"dew_point":44.46,"uvi":0.26,"clouds":97,"visibility":10000,"wind_speed":5.01,"wind_deg":178,"wind_gust":8.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1628467200,"temp":88.93,"feels_like":85.35,"pressure":1005,"humidity":20,"dew_point":42.71,"uvi":1.09,"clouds":81,"visibility":10000,"wind_speed":5.46,"wind_deg":124,"wind_gust":8.05,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1628470800,"temp":88.03,"feels_like":84.7,"pressure":1005,"humidity":22,"dew_point":44.46,"uvi":0.26,"clouds":97,"visibility":10000,"wind_speed":7.02,"wind_deg":139,"wind_gust":12.71,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1628474400,"temp":87.98,"feels_like":84.51,"pressure":1005,"humidity":20,"dew_point":41.94,"uvi":0,"clouds":95,"visibility":10000,"wind_speed":7.4,"wind_deg":170,"wind_gust":13.87,"weather":[{"id":804,[...]
