---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API>&exclude=minutely,alerts&lat=39.742043&lon=-104.991531&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.742,"lon":-104.9915,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628636176,"sunrise":1628597262,"sunset":1628647378,"temp":90.93,"feels_like":86.86,"pressure":1007,"humidity":16,"dew_point":38.57,"uvi":2.1,"clouds":33,"visibility":10000,"wind_speed":4,"wind_deg":346,"wind_gust":8.99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1628632800,"temp":91.69,"feels_like":87.42,"pressure":1007,"humidity":14,"dew_point":35.78,"uvi":3.89,"clouds":34,"visibility":10000,"wind_speed":4.23,"wind_deg":180,"wind_gust":9.91,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1628636400,"temp":90.93,"feels_like":86.86,"pressure":1007,"humidity":16,"dew_point":38.57,"uvi":2.1,"clouds":33,"visibility":10000,"wind_speed":7.18,"wind_deg":312,"wind_gust":9.91,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1628640000,"temp":91.11,"feels_like":86.97,"pressure":1007,"humidity":15,"dew_point":37.08,"uvi":0.82,"clouds":33,"visibility":10000,"wind_speed":4.61,"wind_deg":161,"wind_gust":7.83,"weather":[{"id":8[...]
