---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=da759317959804f09ec9d30e5f9d9093&exclude=minutely,alerts&lat=39.742043&lon=-104.991531&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.742,"lon":-104.9915,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628372523,"sunrise":1628337890,"sunset":1628388395,"temp":82.49,"feels_like":80.67,"pressure":1005,"humidity":28,"dew_point":46.13,"uvi":4.87,"clouds":28,"visibility":10000,"wind_speed":16.15,"wind_deg":329,"wind_gust":19.1,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1628370000,"temp":83.79,"feels_like":81.34,"pressure":1005,"humidity":24,"dew_point":43.2,"uvi":6.77,"clouds":24,"visibility":10000,"wind_speed":9.28,"wind_deg":354,"wind_gust":15.41,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0.04},{"dt":1628373600,"temp":82.49,"feels_like":80.67,"pressure":1005,"humidity":28,"dew_point":46.13,"uvi":4.87,"clouds":28,"visibility":10000,"wind_speed":16.15,"wind_deg":329,"wind_gust":19.1,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.04},{"dt":1628377200,"temp":83.66,"feels_like":81.25,"pressure":1005,"humidity":24,"dew_point":43.09,"uvi":2.67,"clouds":31,"visibility":10000,"wind_speed":17.4,"wind_deg":320,"wind_gust":19.95,"weather"[...]
