---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API>&exclude=minutely,alerts&lat=39.742043&lon=-104.991531&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.742,"lon":-104.9915,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1631757918,"sunrise":1631709683,"sunset":1631754537,"temp":74.95,"feels_like":73.65,"pressure":1005,"humidity":32,"dew_point":43.14,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":1.01,"wind_deg":192,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1631757600,"temp":74.95,"feels_like":73.65,"pressure":1005,"humidity":32,"dew_point":43.14,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":8.32,"wind_deg":160,"wind_gust":17.36,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1631761200,"temp":75.67,"feels_like":74.34,"pressure":1005,"humidity":30,"dew_point":42.08,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":6.42,"wind_deg":177,"wind_gust":13.67,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1631764800,"temp":75.67,"feels_like":74.25,"pressure":1006,"humidity":28,"dew_point":40.3,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":5.61,"wind_deg":188,"wind_gust":9.55,"weather":[{"id":800,"main":"Clea[...]
