---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=da759317959804f09ec9d30e5f9d9093&exclude=minutely,alerts&lat=39.742043&lon=-104.991531&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.742,"lon":-104.9915,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628410664,"sunrise":1628424347,"sunset":1628474724,"temp":62.94,"feels_like":61.05,"pressure":1017,"humidity":45,"dew_point":41.31,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":5.26,"wind_deg":196,"wind_gust":7.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1628409600,"temp":62.94,"feels_like":61.05,"pressure":1017,"humidity":45,"dew_point":41.31,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":5.26,"wind_deg":196,"wind_gust":7.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1628413200,"temp":64.31,"feels_like":62.37,"pressure":1016,"humidity":41,"dew_point":40.14,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":5.66,"wind_deg":196,"wind_gust":9.15,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1628416800,"temp":65.23,"feels_like":63.28,"pressure":1015,"humidity":39,"dew_point":39.67,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":5.1,"wind_deg":201,"wind_gust":8.3,"weather":[{"id":800,"main":"Clear"[...]
