---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=AWXwRoeAZcBI9dAKwH758um0hnVlQBsH&location=Denver,CO&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 07 Aug 2021 21:42:00 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=AWXwRoeAZcBI9dAKwH758um0hnVlQBsH&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=745704030"}]}]}'
  recorded_at: Sat, 07 Aug 2021 21:42:00 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=da759317959804f09ec9d30e5f9d9093&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628372520,"sunrise":1628337889,"sunset":1628388393,"temp":82.31,"feels_like":80.55,"pressure":1005,"humidity":28,"dew_point":45.99,"uvi":4.87,"clouds":28,"visibility":10000,"wind_speed":16.08,"wind_deg":330,"wind_gust":19.06,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1628370000,"temp":83.59,"feels_like":81.19,"pressure":1005,"humidity":24,"dew_point":43.02,"uvi":6.77,"clouds":24,"visibility":10000,"wind_speed":9.35,"wind_deg":355,"wind_gust":15.41,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0.04},{"dt":1628373600,"temp":82.31,"feels_like":80.55,"pressure":1005,"humidity":28,"dew_point":45.99,"uvi":4.87,"clouds":28,"visibility":10000,"wind_speed":16.08,"wind_deg":330,"wind_gust":19.06,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.04},{"dt":1628377200,"temp":83.46,"feels_like":81.1,"pressure":1005,"humidity":24,"dew_point":42.91,"uvi":2.67,"clouds":31,"visibility":10000,"wind_speed":17.31,"wind_deg":320,"wind_gust":19.91,"weather[...]
